<!--Section: Block Content-->
<section class="mb-5 text-center">

    <h2>Set a new password</h2> 
      <div class="md-form md-outline" >
        <label for="psw"><b>Password</b></label>
        <input type="password" id="newPass" name="newPass" style="margin: 8px 0;padding: 14px 20px;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;width: 100%;">
      </div>
  
      <div class="md-form md-outline" >
        <label for="psw"><b>ConfirmPassword</b></label>
        <input type="password" id="newPassConfirm" class="form-control" style="margin: 10px 0;padding: 14px 20px;display:inline-block;border: 1px solid #ccc;box-sizing: border-box;width:100%;">
      </div>
  
      <button type="submit"style="margin: 8px 0;background-color: #4CAF50;color: white;padding: 14px 20px;border: none;cursor: pointer;
      width: 100%;" class="btn btn-primary mb-4" onclick="clickFun()">Change password</button>

<p id="CheckPasswordMatch"></p>

<script>
  
  let x=window.location.href
  let token=x.split('/')[x.split('/').length-1]

  function myFunction() {
  var x = document.getElementById("frm1");
  var text = "";
  var i;
  for (i = 0; i < x.length ;i++) {
    text += x.elements[i].value + "<br>";
  }
  document.getElementById("demo").innerHTML = text;

  document.querySelector("#token").innerHTML=token
      }  
function clickFun(){
  // console.log(token)
  var password = document.getElementById("newPass").value;
        var confirmPassword = document.getElementById("newPassConfirm").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
        }else{
  let pass=document.querySelector('#newPass').value
  fetch('http://localhost:9005/resetpassword',{
    method:"POST",
    headers:{
      "content-type":"application/json"
    },
    body:JSON.stringify({resetlink:token,newPass:pass})
  }).then(x=>x.json())
  .then(data=>{
    console.log(data)
  })
  .catch(err=>{
    console.log(err.message)
  })
}}
</script>
  
  

  